
	
  
  

<SCRIPT >
$('#weixinCreate').submit(function() {
    jQuery.ajax({
    url:'/wxsq/account/weixin/create',
    data:$('#weixinCreate').serialize(),
    type:"POST",  
    success:function(data)
    {
        　		$("#container_iframe").html(data); 
    }
    });
    return false;
});

#if($!{wxAccount} && $!{wxAccount.id} !="")
	var  defwx = "$!{wxAccount.id}";
#else
	var  defwx = "";
#end 



function chWx(target){
		
	var $this = $(target),_clickTab = $this.attr('link'); 
	$.get(_clickTab,function (data ,status){
		if(data!=null){
			if(data.status>0){
				 $this.removeClass("btn-default");
				 $this.addClass("btn-success");
				 
				 if( defwx == $this.attr("id")){
				 	
				 }else{
				 	
				 	$("#useweixin").html("当前微信:"+data.wxAccount.weixinName);
				 	$this.html("正在使用");
				    var temp = $("#"+defwx);
				 	temp.removeClass("btn-success");
				 	temp.addClass("btn-default");
					temp.html("开启使用");				
					defwx =  $this.attr("id");		
				 }
				 
				 
				
				 alert(data.success);
 			}else{
 					
					alert(data.error);
			}
		
		}else{
		
			alert();
		}
	});

}

</SCRIPT>

<div class="panel panel-default">
<div class="panel-heading">添加微信号</div>
	
  <div class="panel-body">
	
		<div class="row placeholders">
            <div class="col-xs-6 col-sm-2 placeholder">
    			<a asynchronize="true" href="#" onclick="javascript:$Ws.get(this)"  link="./weixin/create">
              <img data-src="holder.js/100x100/auto/sky"  class="img-responsive" alt="添加公众号" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iIzBEOEZEQiIvPjxnPjx0ZXh0IHg9Ijc1LjUiIHk9IjEwMCIgc3R5bGU9ImZpbGw6I0ZGRkZGRjtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjIwMHgyMDA8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true">
    			添加公众号</a>
              
            </div>
            <div class="col-xs-6 col-sm-2 placeholder">
    			<a asynchronize="true" href="#" onclick="javascript:$Ws.get(this)"  link="./weixin/create">
              <img data-src="holder.js/100x100/auto/vine" class="img-responsive" alt="100x100" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iIzM5REJBQyIvPjxnPjx0ZXh0IHg9Ijc1LjUiIHk9IjEwMCIgc3R5bGU9ImZpbGw6IzFFMjkyQztmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjIwMHgyMDA8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true">
                                          添加公众号</a>
            </div>
            <div class="col-xs-6 col-sm-2 placeholder">
    			<a asynchronize="true" href="#" onclick="javascript:$Ws.get(this)"  link="./weixin/create">
              <img data-src="holder.js/100x100/auto/sky" class="img-responsive" alt="100x100" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iIzBEOEZEQiIvPjxnPjx0ZXh0IHg9Ijc1LjUiIHk9IjEwMCIgc3R5bGU9ImZpbGw6I0ZGRkZGRjtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjIwMHgyMDA8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true">
                                         添加公众号</a>
            </div>
            <div class="col-xs-6 col-sm-2 placeholder">
    			<a asynchronize="true" href="#" onclick="javascript:$Ws.get(this)"  link="./weixin/create">
              <img data-src="holder.js/100x100/auto/vine" class="img-responsive" alt="100x100" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iIzM5REJBQyIvPjxnPjx0ZXh0IHg9Ijc1LjUiIHk9IjEwMCIgc3R5bGU9ImZpbGw6IzFFMjkyQztmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjIwMHgyMDA8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true">
                                         添加公众号</a>
            </div>
      </div>
           
  </div>
            	<table class="table table-bordered">
            	#foreach($item in $!{context.list})
            		 <tr>
            			<td>$!{item.id}</td>
            			<td>$!{item.wxId}</td>
            			<td>$!{item.createTime}</td>
                        <td>#if($!{wxAccount.id}==$!{item.id})
								<a id="$!{item.id}" class="btn btn-success btn-sm" href="#" onclick="javascript:chWx(this)" link="/account/weixin/openuse?wxAccountId=$!{item.id}" role="button">正在使用</a>
								
							#else	
								<a id="$!{item.id}" class="btn btn-default btn-sm" href="#" onclick="javascript:chWx(this)" link="/account/weixin/openuse?wxAccountId=$!{item.id}" role="button"> 开启使用</a>
							#end
						</td>
                     </tr>
            	#end
             
            </table>
            <div class=" pull-right" id="pageNav">
					#parse("/layout/pagenav.vm")
               </div>
  <div class="panel-footer"></div>
</div>

