 <ul  id="main-nav" class="main-nav nav nav-tabs nav-stacked" style="">
            <li>
                <a href="./Bootstrap_left_menu.html2_files/Bootstrap_left_menu.html2.html#baseSetting" class="nav-header collapsed" data-toggle="collapse">
                    <i class="glyphicon glyphicon-cog"></i>
		基础设置
                    
                    <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
			
                </a>
                  <ul name="left_slide" id="baseSetting" class="nav nav-list secondmenu collapse" style="height: 0px;">
                    <li asynchronize="true"><a asynchronize="true" onclick="javascript:ws.get(this,'')" href="#" link="./weixin/settings" ><i class="glyphicon glyphicon-user"></i>我的公众号</a></li>
                    <li><a asynchronize="true" href="#" onclick="javascript:ws.get(this,'')" link="./weixin/message/home" ><i class="glyphicon glyphicon-th-list"></i>微信消息库</a></li>
                    <li><a asynchronize="true" href="#" onclick="javascript:ws.get(this,'')" link="./weixin/reply/home" ><i class="glyphicon glyphicon-asterisk"></i>&nbsp;回复设置</a></li>
                    <li><a asynchronize="true" href="#" onclick="javascript:ws.get(this,'')" link="./weixin/list" ><i class="glyphicon glyphicon-edit"></i>&nbsp;qita</a></li>
                    <li><a asynchronize="true" href="#" onclick="javascript:ws.get(this,'')" link="./weixin/list" ><i class="glyphicon glyphicon-eye-open"></i>&nbsp;日志查看</a></li>
                </ul>
            </li>
            <li>
                <a  href="http://static.demo.ruyo.net/Bootstrap_left_menu.html2.html#systemSetting" class="nav-header collapsed" data-toggle="collapse">
                    <i class="glyphicon glyphicon-cog"></i>
		系统管理
                    
                    <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
                </a>
                <ul name="left_slide" id="systemSetting" class="nav nav-list secondmenu collapse" style="height: 0px;">
                    <li><a asynchronize="true" onclick="javascript:ws.get(this,'')" href="#" link="./weixin/list"><i class="glyphicon glyphicon-user"></i>&nbsp;用户管理</a></li>
                    <li><a asynchronize="true" href="#" link="./weixin/list"><i class="glyphicon glyphicon-th-list"></i>&nbsp;菜单管理</a></li>
                    <li><a asynchronize="true" href="#" link="./weixin/list"><i class="glyphicon glyphicon-asterisk"></i>&nbsp;角色管理</a></li>
                    <li><a asynchronize="true" href="#" link="./weixin/list"><i class="glyphicon glyphicon-edit"></i>&nbsp;修改密码</a></li>
                    <li><a asynchronize="true" href="#" link="./weixin/list"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;日志查看</a></li>
                </ul>
            </li>
            <li>
                <a  href="http://static.demo.ruyo.net/Bootstrap_left_menu.html2.html#configSetting" class="nav-header collapsed" data-toggle="collapse">
                    <i class="glyphicon glyphicon-credit-card"></i>
			配置管理	
                           <span class="pull-right glyphicon  glyphicon-chevron-toggle"></span>
                </a>
                <ul name="left_slide" id="configSetting" class="nav nav-list secondmenu collapse ">
                    <li ><a asynchronize="true" onclick="javascript:ws.get(this,'')" href="#" link="./weixin/list"><i class="glyphicon glyphicon-globe"></i>&nbsp;全局缺省配置</a></li>
                    <li><a asynchronize="true" href="#" link="./weixin/list"><i class="glyphicon glyphicon-star-empty"></i>&nbsp;未开通用户配置</a></li>
                    <li><a asynchronize="true" href="#" link="./weixin/list"><i class="glyphicon glyphicon-star"></i>&nbsp;退订用户配置</a></li>
                    <li><a asynchronize="true" href="#" link="./weixin/list"><i class="glyphicon glyphicon-text-width"></i>&nbsp;试用用户配置</a></li>
                    <li><a asynchronize="true" href="#" link="./weixin/list"><i class="glyphicon glyphicon-ok-circle"></i>&nbsp;开通用户配置</a></li>
                </ul>
            </li>

            <li>
                <a href="http://static.demo.ruyo.net/Bootstrap_left_menu.html2.html#disSetting" class="nav-header collapsed" data-toggle="collapse">
                    <i class="glyphicon glyphicon-globe"></i>
		分发配置
<span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
                </a>
                <ul name="left_slide" id="disSetting" class="nav nav-list secondmenu collapse ">
                    <li><a asynchronize="true" href="#" link="./weixin/list"><i class="glyphicon glyphicon-th-list"></i>&nbsp;分发包配置</a></li>
                </ul>
            </li>

            <li>
                <a href="http://static.demo.ruyo.net/Bootstrap_left_menu.html2.html#dicSetting" class="nav-header collapsed" data-toggle="collapse">
                    <i class="glyphicon glyphicon-bold"></i>
		字典配置
                    <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
                </a>
                <ul name="left_slide" id="dicSetting" class="nav nav-list secondmenu collapse ">
                    <li><a asynchronize="true" href="#" link="./weixin/list"><i class="glyphicon glyphicon-text-width"></i>&nbsp;关键字配置</a></li>
                </ul>
            </li>
            <li>
                <a href="./Bootstrap_left_menu.html2_files/Bootstrap_left_menu.html2.html">
                    <i class="glyphicon glyphicon-fire"></i>
		关于系统
                    <span class="badge pull-right">1</span>
                </a>
            </li>

        </ul>
        
